*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overscroll-behavior-y: none;
}

body::-webkit-scrollbar {
    display: none;
}

div {
    display: block;

}

.Wrapper {
    margin: 0 12%;
}

.container {
    width: 100%;
    min-height: 2vh;
    padding: 0 5%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
	background-color: rgb(228, 227, 215);
}

.navbarr {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logo {
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

nav {
    flex: 1;
    text-align: right; 
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 0px;
}

li:first-child {
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #6e6d7a;
    font-size: 14px;
    font-weight: 500;
}

nav ul li a:hover {
    border-style: none none solid none;
    color: #6e6d7a;
    text-decoration: none;
}

#inputSearch {
    outline: none;
    border: none;
    margin-left: -25px;
    background-color: transparent;
}

.inputSearch:hover {
    border-block-end: solid ;
    border-color: #6e6d7a;
}

#inputSearch:focus{
    border-style: none none solid none;
    border-color: #6e6d7a;
}

.prom {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/*
.slider-wrap {
  position: fixed;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 300px;
  overflow: hidden;
  border: 1px solid white;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4000px;
  display: flex;
  will-change: transform;
  background-color: black;
}

.slider-item {
  position: relative;
  flex: 1;
  overflow: hidden;
  filter: grayscale(100%);
}

.img-div {
  position: relative;
  left: 1%;
  top: 2.5%;
  width: 98%;
  height: 95%;
  background-size: cover;
  background-position: center;
}
*/

#content {
    width: 100%;
    padding: 0 12%;
    overflow: hidden;
    border: 1rm solid black;
    margin-top: 50px;

}
.content {
    width: 100%;
    padding: 0 8%;
    overflow: hidden;
    /*border: 0.1rem solid black;*/

}

.panels{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 17%;
    justify-content: center;
}

#panel {
    
}

.fa-heart-o {
    color: rgb(196, 90, 90);
    cursor: pointer;
}
  
.fa-heart {
    color: rgb(196, 90, 90);
    cursor: pointer;
}
  
.description {
}

/* Carousel */

.MultiCarousel { 
    float: left; 
    overflow: hidden; 
    padding: 15px; 
    width: 100%; 
    position:relative; 
    
}
.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all; 
    float: left; 
}
.MultiCarousel .MultiCarousel-inner .item { 
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div { 
    text-align: center; 
    margin: 70px;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
    position:absolute;
    bottom:calc(40% - 2px);
    border: none;
}
.MultiCarousel .leftLst { 
    left:0;
    background-color: transparent;
    border: none;
    padding: 5px;
}
.MultiCarousel .rightLst { 
    right: 0; 
    background-color: transparent;
    border: none;
    padding: 5px;
}
    
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
    pointer-events: none;
    border: none;
}

.item {
    width: 100%;
}

.imgShow {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.rowDec {
    margin-left: 10px;
}


#footer p{
	width: 100%;
    margin-bottom: 0;
	padding: 20px;
	color: white;
	text-align: center;
	background-color: rgb(228, 227, 215);
    color: black;
    font-size: 10px;
}